<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome, <%= user.role === 'admin' ? user.role + ' ' + user.name : user.name %>!</p>

<% if (user.role === 'admin') { %>
  <a href="/admin" class="btn btn-primary">Admin Dashboard</a>
<% } %>

<a href="/auth/logout" class="btn btn-secondary">
  <span class="material-icons" style="font-size: 17px; margin-bottom: 3px; vertical-align: middle;">logout</span> Logout
</a>